{% extends "::base.html.twig" %}

{% block stylesheets %}
<style>
	h1{
		text-align: center;
	}
	
	h2{
		text-align: center;
	}
	
	h3{
		text-align: center;
	}
	
	h4{
		text-align: center;
	}
	
	table.paciente {
    	font-size: 9pt;
        border-bottom: 2px solid #000;
        margin-top: 2%;
    }
</style>    
{% endblock %}

{% block head %}
<div>
	<table class="paciente">
		<tr>
			<td colspan="5"><br /><br /></td>
		</tr>
		<tr>
			<td width="130" align="center"><b>{{ paciente.tipoid }} - {{ paciente.identificacion }}</b></td>
		  	<td width="200" align="center"><b>{{ paciente.prinombre|capitalize }} {{ paciente.segnombre|capitalize }} {{ paciente.priapellido|capitalize }} {{ paciente.segapellido|capitalize }}</b></td>
		  	<td width="70" align="center"><b>{{ date('now') | date('Y-m-d') - paciente.fn | date('Y-m-d') }} Años</b></td>
		  	<td width="180" align="center"> <b>{{ cliente.nombre }}</b></td>
		  	<td width="90" align="center"><b>{{ entity.fecha | date('d-m-y') }}</b></td>
	 	</tr>
	 </table>
</div>
{% endblock %}