{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de Ingresos{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	{% if ingreso %}
	    <table class="table">
	        <thead>
	            <tr>
	                <th>No.</th>	                                
	                <th>Factura</th>
	                <th>Fecha</th>		                	                
	                <th>Valor Total</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for ingreso in ingreso %}
	            <tr>
	                <td>{{ loop.index }}</td>
	                <td><a href="{{ path('ingreso_show', {'ingreso':ingreso.id}) }}">{{ ingreso.numFact }}</a></td>
	                <td>{{ ingreso.fecha | date('d-m-Y')}}</td>	                         	
	              	<td>{{ ingreso.valorT }}</td>
	              	
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existen ingresos creados</span>
	    </div>
	{% endif %}
		
    
    <a href="{{ path('ingreso_new') }}" class="btn btn-primary">Nueva Ingreso</a>
{% endblock %}
