{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de Imv{% endblock %}

{% block msg %}
	{% if app.session.flash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.flash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.flash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	{% if imv %}
	    <table class="table">
	        <thead>
	            <tr>
	                <th>No.</th>	                
	                <th>Cod.Admin</th>
	                <th>Cups</th>
	                <th>Tipo</th>
	                <th>Nombre</th>
	                <th>Cums</th>
	            </tr>
	        </thead>
	        <tbody>
	        {% for imv in imv %}
	            <tr>
	                <td>{{ loop.index }}</td>
	                <td><a href="{{ path('imv_show', {'imv':imv.id}) }}">{{ imv.codAdmin }}</a></td>
	                <td><a href="{{ path('imv_show', {'imv':imv.id}) }}">{{ imv.codCups}}</a></td>	                
	             	 <td>{{ imv.tipoImv }}</td>
	             	 <td>{{ imv.nombre }}</td>
	             	 <td>{{ imv.cums}}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existen Imv creadas</span>
	    </div>
	{% endif %}
		
    
    <a href="{{ path('imv_new') }}" class="btn btn-primary">Nueva Imv</a>
{% endblock %}
