{% extends "::simple.html.twig" %}

{% block stylesheets %}
<style>
		
	table.consolidado {
    	font-size: 7pt;
    }
    
 
</style>     
{% endblock %}


{% block head %}
{% endblock %}
{% block body %}

<p align="left">Consolidado Cliente:<b>{{ cliente.nombre }}</b></p>
<p align="left">Fecha Inicial:<b>{{ f_inicio}}</b> - Fecha Final:<b>{{ f_fin}}</b></p>


	      {% if consolidado %}
         

	       <table border="1" class = "consolidado" >

	        <thead>
	            <tr>
	                <th width="30px" align="left"><b>No.</b></th>
                	<th width="65px" align="left"><b>Fecha.</b></th>
                        <th width="45px" align="left"><b>Factura</b></th>
                	<th width="30px" align="left"><b>Tipo</b></th>
                	<th width="90px" align="left"><b>Identificación</b></th>
                	<th width="190px" align="left"><b>Paciente</b></th>
                        <th width="60px" align="left"><b>Facturado</b></th>
               	 	<th width="50px" align="left"><b>CargoIps</b></th>
	                <th width="50px" align="left"><b>Copago</b></th>
                        <th width="60px" align="left"><b>Valor Total</b></th>

	            </tr>
	        </thead>
	        <tbody>
                     {% set ips = 0 %}
                     {% set copago1 = 0 %}
                     {% set valor = 0 %}
                        
                        
	        {% for consolidados in consolidado %}
                        {% set ips = ips + consolidados.asumido %}
                        {% set valor = valor + consolidados.facturado %}
                        {% set copago1 = copago1 + consolidados.copago %}
	            <tr>
	                <td width="30px" align="left"> {{  loop.index }}</td>
	                <td width="65px" align="left"> {{  consolidados.fecha|date('d-m-Y')}}</td>
                        <td width="45px" align="left"> {{  consolidados.id}}</td>
	                <td width="30px" align="left"> {{  consolidados.tipoId }}</td>
	             	<td width="90px" align="left"> {{  consolidados.identificacion}}</td>
            		<td width="190px" align="left"> {{ consolidados.priNombre|capitalize }} {{ consolidados.segNombre|capitalize }} {{ consolidados.priApellido|capitalize }} {{ consolidados.segApellido|capitalize }}</td>
            		<td width="60px" align="left"> ${{  consolidados.facturado|number_format(0) }}</td>
                        <td width="50px" align="left"> ${{  consolidados.asumido|number_format(0) }}</td>
            		<td width="50px" align="left"> ${{  consolidados.copago|number_format(0)}}</td>
                        <td width="60px" align="left"> ${{  consolidados.total|number_format(0)}}</td>
	            </tr>
                    
                      {% else %}
         	<tr>
         		<td colspan="8">No tenemos actividades realizadas en este periodo de tiempo.</td>
         	</tr>
	        {% endfor %}
                <tr>
        		<td colspan="9"><br /><br />VALOR ACTIVIDADES: <b>${{ (valor)|number_format(0) }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="9"><br /><br />COPAGOS: <b>${{ (copago1)|number_format(0) }}</b></td>
        	</tr> 
                <tr>
        		<td colspan="9"><br /><br />Cargado a IPS: <b>${{ (ips)|number_format(0) }}</b></td>
        	</tr> 
        	<tr>
                    <td colspan="9"><br /><br />TOTAL A COBRAR: <b>${{ (valor-copago1-ips)|number_format(0) }}</b></td>
        	</tr>    
	        </tbody>
	    </table>
	    {% endif %}
{% endblock %}


{% block footer %}
{% endblock %}