{% extends "::simple.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block head %}
{% endblock %}


{% block body %}

<p align="left">Consolidado Cliente:<b>{{ cliente.nombre }}</b></p>
<p align="left">Fecha Inicial:<b>{{ f_inicio}}</b> - Fecha Final:<b>{{ f_fin}}</b></p>


	      {% if consolidado %}
         

	       <table border="1">

	        <thead>
	            <tr>
	                <th width="30px"><b>No.</b></th>
                	<th width="80px"><b>Fecha.</b></th>
                        <th width="50px"><b>Factura</b></th>
                	<th width="30px"><b>Tipo</b></th>
                	<th width="90px"><b>Identificación</b></th>
                	<th width="200px"><b>Paciente</b></th>
               	 	<th width="50px"><b>CargoIps</b></th>
	                <th width="60px"><b>Copago</b></th>
                        <th width="80px"><b>Valor Total</b></th>

	            </tr>
	        </thead>
	        <tbody>
                     {% set ips = 0 %}
                     {% set copago1 = 0 %}
                     {% set valor = 0 %}
                        
                        
	        {% for consolidados in consolidado %}
                        {% set ips = ips + consolidados.asumido %}
                        {% set valor = valor + consolidados.total %}
                        {% set copago1 = copago1 + consolidados.copago %}
	            <tr>
	                <td width="30px"> {{  loop.index }}</td>
	                <td width="80px"> {{  consolidados.fecha|date('d-m-Y')}}</td>
                        <td width="50px"> {{  consolidados.id}}</td>
	                <td width="30px"> {{  consolidados.tipoId }}</td>
	             	<td width="90px"> {{  consolidados.identificacion}}</td>
            		<td width="200px"> {{ consolidados.priNombre|capitalize }} {{ consolidados.segNombre|capitalize }} {{ consolidados.priApellido|capitalize }} {{ consolidados.segApellido|capitalize }}</td>
            		<td width="50px"> {{  consolidados.asumido }}</td>
            		<td width="60px"> {{  consolidados.copago}}</td>
                        <td width="80px"> {{  consolidados.total}}</td>
	            </tr>
                    
                      {% else %}
         	<tr>
         		<td colspan="8">No tenemos actividades realizadas en este periodo de tiempo.</td>
         	</tr>
	        {% endfor %}
                <tr>
        		<td colspan="9"><br /><br />VALOR ACTIVIDADES: <b>${{ (valor)|number_format(0) }}</b></td>
        	</tr>
        	<tr>
        		<td colspan="9"><br /><br />COPAGOS: <b>${{ (copago1)|number_format(0) }}</b></td>
        	</tr> 
                <tr>
        		<td colspan="9"><br /><br />Cargado a IPS: <b>${{ (ips)|number_format(0) }}</b></td>
        	</tr> 
        	<tr>
                    <td colspan="9"><br /><br />TOTAL A COBRAR: <b>${{ (valor-copago1-ips)|number_format(0) }}</b></td>
        	</tr>    
	        </tbody>
	    </table>
	    {% endif %}
{% endblock %}


{% block footer %}
{% endblock %}