{% extends "::admin_layout.html.twig" %}

{% block menu %}
	{{ knp_menu_render('FarmaciaBundle:Builder:farmaciaMenu') }}
{% endblock %}

{% block rastro %}{{ wo_render_breadcrumbs() }}{% endblock %}

{% block titulo %}Listado de Devolucion{% endblock %}

{% block msg %}
	{% if app.session.hasFlash('ok') %}
	    <div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('ok') }}</span>
	    </div>
	{% elseif app.session.hasFlash('info') %}
		<div class="alert alert-info">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('info') }}</span>
	    </div>
	{% elseif app.session.hasFlash('error') %}
		<div class="alert alert-error">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>{{ app.session.flash('error') }}</span>
	    </div>
	{% endif %}
{% endblock %}

{% block cuerpo %}
	{% if devolucion %}
	
	    <table class="table">
	        <thead>
	            <tr>
	                <th>No.</th>
                	<th>Fecha.</th>                	
                	<th>Inventario</th>
               	 	<th>Cantidad</th>
	               
	            </tr>
	        </thead>
	        <tbody>
	        {% for devolucion in devolucion %}
	            <tr>
	                <td>{{ loop.index }}</td>
	                <td><a href="{{ path('devolucion_show', {'devolucion':devolucion.id}) }}">{{ devolucion.fecha | date('d-m-Y')}}</a></td>	             	
            		<td>{{ devolucion.inventario}}</td>            	
            		<td>{{ devolucion.cant}}</td>
	            </tr>
	        {% endfor %}
	        </tbody>
	    </table>
	{% else %}
		<div class="alert alert-success">
	    	<button data-dismiss="alert" class="close" type="button">×</button>
	        <span>No existen devolucion creadas</span>
	    </div>
	{% endif %}
		
    
    <a href="{{ path('devolucion_new') }}" class="btn btn-primary">Nuevo Devolucion</a>
{% endblock %}
